:root {
  --color-white: #ffffff;
  --color-gold: #FCFF00;
  --gradient-red: radial-gradient(173.07% 205.27% at 50% 50%, #ff0004 0%, #93001d 100%);
  --gradient-blue: radial-gradient(173.07% 205.27% at 50% 50%, #35ccff 0%, #001d4b 59.13%);
  --gradient-black: radial-gradient(173.07% 205.27% at 50% 50%, #000000 100%);
  --gradient-card: linear-gradient(46deg, rgba(206, 0, 16, 0) 0%, rgba(104, 0, 8, 0.59) 137.01%);
  --gradient-active-nav: linear-gradient(180deg, #00bad7 0%, #276bcb 100%);
  --color-card-red: #ce0010;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--gradient-blue);
  color: var(--color-white);
  overflow-x: hidden;
}

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 9px 10px;
  border-radius: 8px;
  background: var(--gradient-red);
  color: var(--color-white);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: transform 0.2s ease;
}

.btn:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
  .page-wrapper {
    padding: 0 20px;
  }
}